@{
    ViewBag.Title = "About Brody Gilliand";
    ViewBag.Message = "Please find the bio for Brody Gilliand below.";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>My name is Brody Gilliand and I am a senior at Ohio University studying Management Information Systems, Marketing, and Sales. 
    During my time at Ohio University I have been apart of the Select Leadership Development Program, The College of Business Student Ambassador Program, and The Ralph and Luci Schey Sales Centre. 
    I have done a marketing internship with Peoples Bank, and two sales internships with Gartner Inc. and Prodly Inc. I hope to work for a large technology company (e.g. Microsoft, IBM, VMware, etc) after I graduate.</p>
