@{
    ViewBag.Title = "Contact Information - Brody Gilliand ";
    ViewBag.Message = "Please use the information below for all communication.";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    4715 Burnett Rd<br />
    Cutler, OH 45724<br />
    <abbr title="Phone">P:</abbr>
    740.525.2115
</address>

<address>
    <strong>Personal Email:</strong>   <a href="mailto:brodygilliand@icloud.com">brodygilliand@icloud.com</a><br />
    <strong>School Email:</strong> <a href="mailto:bg741916@ohio.edu.com">bg741916@ohio.edu</a>
</address>