@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Brody Gilliand - MIS 4200</h1>
    <p class="lead">This homepage will be used to present my personal interests and projects I complete throughout the semester.</p>
    <p><a href="https://www.linkedin.com/in/brodygilliand/" class="btn btn-success btn-lg">LinkedIn &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My Student Ambassador Job</h2>
        <div class="well">I work for the College of Business as a Student Ambassador. In this role I meet with high school students who are considering OU's CoB and tell them about my experience as a student.</div>
        <p><span class="glyphicon glyphicon-star"></span></p>
        <p><a class="btn btn-success" href="https://business.ohio.edu/future-students/student-ambassadors/brody-gilliand/">Learn more &raquo;</a></p>

    </div>
    <div class="col-md-4">
        <h2>Specialized Bicycles</h2>
        <div class="well">I love to ride bicycles in my free time. I have a Specialized Allez for the road and a Specialized Stumpjumper for the dirt!</div>
        <p><span class="glyphicon glyphicon-signal"></span></p>
        <p><a class="btn btn-success" href="https://www.specialized.com/ca/en">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>The Ralph and Luci Schey Sales Centre</h2>
        <div class="well">During my time at Ohio University I have been very involved with the Ralph and Luci Schey Sales Centre. I have competed at 3 national competitions, earned 3 internships, and held 3 leadership positions.</div>
        <p><span class="glyphicon glyphicon-ok"></span></p>
        <p><a class="btn btn-success" href="https://business.ohio.edu/about/centers-institutes/the-schey-sales-centre/schey-recruiting/">Learn more &raquo;</a></p>
        <div class="container">
            <h2>Data Tables</h2>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                    Select One
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    @Html.ActionLink("Students", "Index", "Students")
                    <br />
                    @Html.ActionLink("Courses", "Index", "Courses")
                    <br />
                    @Html.ActionLink("Enrollment", "Index", "StudentCourses")

            </div>
        </div>
